/VirtualGarden/.vs/*
/VirtualGarden/packages/*
/VirtualGarden/VirtualGarden/obj/*
/VirtualGarden/VirtualGarden/bin/*
/WikiService/.vs/*
/WikiService/venv/*
/VirtualGarden/packages/*
/VirtualGarden/VirtualGarden/bin/*
/VirtualGarden/VirtualGarden/obj/*